* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  background-color: rgb(53, 41, 41);
  width: 600px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  position: relative;
}

.info {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.info > p {
  padding-right: 10px;
}

.name {
  color: rgb(237, 108, 96);
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
}

.username {
  color: rgb(209, 209, 209);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.email {
  color: rgb(174, 174, 174);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.delete-btn {
  position: absolute;
  right: 20px;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  border-radius: 11px;
  color: #bcbcbc;
  background-color: black;
}
.title {
  color: rgb(209, 209, 209);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 20px;
}

.text {
  color: white;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
}
.add-post {
  color: white;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: rgb(79, 68, 68);
}
#addPost {
  width: 600px;
  margin: 0 auto;
}
.submit-btn {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px 30px;
  border: none;
  border-radius: 11px;
  color: white;
  background-color: rgb(79, 68, 68);
}
